<h1>Edit Show</h1>
<hr />
<h2>Edit Show: </h2>
  <h3>@Model["band"].GetBandName()</h3>
  <h3>@Model["venue"].GetVenueName()</h3>
  <h3>@Model["show"].GetDate()</h3>
<form action="/show/edit/@Model["show"].GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="show-id" type="hidden" value="@Model["show"].GetId()">
  <label for="name">Band Name</label>
  <select name="band">
    @foreach(var band in @Model["bands"])
    {
      <option value="@band.GetId()">@band.GetBandName()</option>
    }
  </select>
  <label for="venue">Venue</label>
  <select name="venue">
    @foreach(var venue in @Model["venues"])
    {
      <option value="@venue.GetId()">@venue.GetVenueName()</option>
    }
  </select>
  <label for="date">Date and Time</label>
  <input id="date" name="date" type="datetime-local">
  <button type="submit">Submit</button>
</form>
<h4><a href="/">Return home</a></h4>
