  <h2>Who's Playing:</h2>
  <h3><a href="/band/@Model["band"].GetId()">@Model["band"].GetBandName()</a></h3>
  <h4>@Model["band"].GetGenre()</h4>
  <h2>Where:</h2>
  <h3><a href="/venue/@Model["venue"].GetId()">@Model["venue"].GetVenueName()</a></h3>
  <h4>@Model["venue"].GetAddress()</h4>
  <h2>When:</h2>
  <h3>@Model["show"].GetDate()</h3>
<p><a href="/shows">View all shows</a></p>
<p><a href="/show/new">Add a another show</a></p>
<p><a href="/">Return Home</a></p>
GetBandName
